<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "snacks_index", "data-turbo-track": "reload" %>
<% end %>

<div class="snack_container">
  <p class="total_snack"><strong><%= @snacks.count %></strong> 件が見つかりました。</p>
  <%= render "shared/search" %>
</div>
<ul class="snack_list">
  <% @snacks.each do |snack| %>
  <li class="Snack">
  <div class="snack_detail">
    <% if snack.food.attached? %>
    <%= image_tag snack.food.variant(:index_size), alt: "おつまみ画像" %>
    <% else %>
    <%= image_tag "food.png", alt: "おつまみ画像", class: "snack_img" %>
    <% end %>
    <h5 class="snack_name"><%= snack.name %></h5>
    <p class="snack_alcohol"><strong>合うお酒：</strong><%= snack.best_alcohol %></p>
    <p class="snack_types"><strong>食べ物のカテゴリ：</strong><%= snack.food_types %></p>
    <p class="snack_memo"><strong>メモ：</strong><%= snack.memo %></p>
    <p><%= link_to "詳細はこちら", snack, class: "btn btn-dark btn_position" %></p>
  </div>
  </li>
  <% end %> 
</ul>