<p><%= link_to "← 戻る", :back, class: "return_page" %></p>

<div class="snacks_top">
  <div class="snacks_item">
    <% if @snack.food.attached? %>
    <%= image_tag @snack.food, alt: "おつまみ画像", class: "snack_img_show" %>
    <% else %>
    <%= image_tag "food.png", alt: "おつまみ画像", class: "snack_img_show" %>
    <% end %>
    <p class="snacks_name_show"><%= @snack.name %></p>
    <p class="snack_alcohol_show"><strong>合うお酒：</strong><%= @snack.best_alcohol %></p>
    <p class="snack_type_show"><strong>食べ物のカテゴリ</strong>：<%= @snack.food_types %></p>
    <p class="snack_memo_show"><strong>メモ</strong><br><%= wrap_text(@snack.memo, 40) %></p> 
  </div>
</div>
